.oculto-intro {
    display: none;
}

.view {
    visibility: visible;
}

#container {
    background: white;
    padding: 3%;
    text-align: center;
    height: 420px;
    border: 10px solid #fff3ec;
    margin: 4%;
}

.circle-button {
    background-color: #ff1493;
    border: none;
    color: #fff;
    width: 50px;
    height: 55px;
    border-radius: 100%;
    position: relative;
    transition: background-color .24s linear;
    cursor: pointer;
    position: fixed;
    top: 30px;
    left: 30px;
    z-index: 31;
    overflow: hidden;
}

.glyphicon-info-sign {
    font-size: 23px;
}

.glyphicon-info-sign:before {
    padding: 1px;
    font-size: 29px;
}

.progress-bar {
    background-color: salmon;
}

img{
    width: 150px;
}
button {
    background-color: #edecf0;
    color: #4b4668;
    font-size: 20px;
    font-weight: 200;
    margin: 10px 12px 11px;
    border: 1px solid #4b4668;
    padding: 6px 44px 6px 14px;
    width: 50%;
    text-align: left;
    transition: background-color .3s linear, border-color .3s linear, color .3s linear;
}

body,
h1 {
    color: #4b4668;
}

body {
    font-family: OpenSans-Light, Tahoma, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: #333;
    margin: 0 padding: 50px 0;
    background-color: #fff3ec;
}

.flecha {
    background-color: transparent;
    border: none;
    width: 48px;
}


h1 {
    font-size: 34px;
    text-align: center;
}

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0 5px;
}


.social-network a.icoFacebook:hover {
    background-color: #3B5998;
}

.social-network a.icoTwitter:hover {
    background-color: #33ccff;
}

.social-network a.icoGoogle:hover {
    background-color: #BD3518;
}

.social-network a.icoRss:hover i,
.social-network a.icoFacebook:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i,
.social-network a.icoVimeo:hover i,
.social-network a.icoLinkedin:hover i {
    color: #fff;
}

a.socialIcon:hover,
.socialHoverClass {
    color: #44BCDD;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
}

.social-circle li i {
    margin: 0;
    line-height: 50px;
    text-align: center;
}

.social-circle i {
    color: #fff;
}

a {
    background-color: #D3D3D3;
}

#contador-progresivo {
    border: none;
    background: transparent;
}

.correctas {
    color: salmon;
    text-align: left;
    padding-left: 30px;
}

.califica {
    color: green;
    text-align: left;
    padding-left: 30px;
}